---
import Contributor from '../../components/contributor.astro'
import Layout from '../../layouts/Layout.astro'

export function getStaticPaths() {
  return [
    {params: {contributor: 'isabelroses'}},
    {params: {contributor: 'comfysage'}},
  ];
}

const { contributor } = Astro.params;
---

<Layout>
  <div slot="header" class="header">
    <h1 class="contributor-name">{contributor}</h1>
  </div>
  <Contributor name={contributor} kofi={contributor} />
</Layout>

<style>
  .header {
    grid-area: grid-header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 0;
  }

  .contributor-name {
    font-size: 4rem;
    font-weight: 700;
    align-self: center;
    justify-self: center;
  }
</style>
