@use "_variables/responsive.scss" as *;

// sizes
:root {
  --top-margin: 6rem;

  --df-header-size: 8rem;
  --header-size: calc(var(--top-margin) + var(--df-header-size));
  --footer-size: 6rem;
}

body {
  container: body / inline-size;
  min-height: 100vh;
  width: 100vw;
}

#root,
#page {
  height: 100%;
  width: 100%;
}

#page {
  display: grid;
  grid-template:
    "grid-header" var(--header-size)
    "grid-center" auto
    "grid-footer" var(--footer-size)
    / auto;
  gap: .32rem;
}

#root>#page {
  @include notdesktop() {
    padding: 0 4rem 0 0;
  }

  @include onmobile() {
    padding: 0 2rem;
    --top-margin: 0;
  }
}


#root {
  container: root / inline-size;
  max-width: 720px;
  margin: 0 auto;

  .left {
    grid-area: grid-sidebar-left;
  }

  #main {
    grid-area: grid-center;
  }

  .right {
    grid-area: grid-sidebar-right;
  }

  .page-header {
    grid-area: grid-header;
    margin: var(--top-margin) 0 0;
  }

  .page-footer {
    grid-area: grid-footer;
    margin: 0 0 1.8rem;
  }
}

#root>#page {
  .sidebar {
    position: sticky;
    top: 0;

    height: 100vh;
    padding: var(--top-margin) 2rem 2rem;

    display: flex;
    gap: 2rem;
  }
}

#root>#page .sidebar {
  &.right {
    @include notdesktop() {
      position: initial;
      height: auto;
      padding: 0;
    }
  }
  &.left {
    @include onmobile() {
      position: initial;
      height: auto;
      padding: 2rem 0 0;
    }
  }
}

//

#main {
  container: page-content / inline-size;
}

#main,
.page-footer {
  min-width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#main > hr {
  display: none;

  @include notdesktop {
    display: block;
  }
}

//

.spacer {
  flex: auto;
}

[onmobile] {
  display: none;
  @include onmobile() {
    display: initial;
  }
}
[ontablet] {
  display: none;
  @include ontablet() {
    display: initial;
  }
}

.header {
  grid-area: grid-header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
}

.brandname {
  font-size: 4rem;
  font-weight: 700;
  align-self: center;
  justify-self: center;
}

.branddesc {
  font-size: 1.25rem;
  font-weight: 400;
  align-self: center;
  justify-self: center;
  width: fit-content;
}

