// theme
:root {
  --rosewater: #E1A8DC;
  --flamingo: #E1A8DC;
  --pink: #E1A8DC;
  --mauve: #BBA6DE;
  --red: #E58888;
  --maroon: #E58888;
  --peach: #F0C48F;
  --yellow: #E6DEA3;
  --green: #BEDEB5;
  --teal: #A8DECC;
  --sky: #A0CFE2;
  --sapphire: #A2B1DF;
  --blue: #A2B1DF;
  --lavender: #BBA6DE;
  --text: #DEE9F4;
  --subtext1: #B9CADD;
  --subtext0: #A1B3C7;
  --overlay2: #8A9DB1;
  --overlay1: #69788C;
  --overlay0: #586579;
  --surface2: #434D60;
  --surface1: #3A4254;
  --surface0: #323748;
  --base: #292D3C;
  --mantle: #212330;
  --crust: #181924;
}

// == components ==

// defaults
:root {
  --default-border: var(--surface1);
  --special: var(--blue);
}

// functions
$border: var(--border, var(--default-border));
