---
import Link from './link.astro'
import Github from './links/Github.astro'
---

<p>
	tgirlcloud is a collection of tools for nix configuration and development.
</p>

<h3>
	resources:
</h3>
<ul>
	<li><Github id="tgirlcloud"/></li>
</ul>

<h3>
	docs:
</h3>
<ul>
	<li><Link text="tgirpkgs options" ref="https://pkgs.tgirl.cloud"/></li>
</ul>

<h3>contributors:</h3>
<ul>
	<li><Github id="isabelroses"/></li>
	<li><Github id="comfysage"/></li>
</ul>
